#LLAP {
  background-image: url("./assets/bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  .panda {
    position: absolute;
    bottom: 0px;
  }
  .main-gp {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 51%;
    // gap: 35px;
    .main-pic {
      width: 469px;
      height: 469px;
      object-fit: cover;
      margin: 14px;
    }
  }
}
#LLAP-Admin {
  .btn-gp {
    display: flex;
    justify-content: center;
    margin: 40px 10px;
    gap: 22px;
  }
  .desc {
    font-weight: normal;
    font-style: italic;
    text-align: center;
    opacity: 0.8;
    font-size: 1.2em;
  }
  .pic-end {
    text-align: center;
    font-size: 2em;
    margin: 100px;
    padding-bottom: 50px;
  }

  .day-sec {
    width: 90%;
    margin: auto;
    margin-top: 40px;
    .day-head {
      font-size: 1.3em;
      margin-bottom: 23px;
    }
    .pic-gp {
      display: flex;
      flex-wrap: wrap;
      row-gap: 20px;
      column-gap: 20px;
    }
    .selected {
      border: 2px solid red;
      border-radius: 8px;
    }
    .pic-row {
      display: flex;
      flex-direction: column;
      width: 27%;
      // margin-right: 32px;
    }
  }

  .btn {
    background: white;
    border: 1px solid black;
    border-radius: 3px;
    padding: 12px 30px;
    font-size: calc(15px + 0.390625vw);
    cursor: pointer;
    &:hover {
      background-color: lightgray;
    }
  }
  .preview-img {
    // width: 400px;
  }
}
