@font-face {
  font-family: "AlbertExtrabold";
  src: url("./FSAlbertPro-ExtraBold.otf");
}

.pru-distance {
  overflow: hidden;
  width: 100%;
  .img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    // display: none;
  }
  .distance {
    position: absolute;

    font-size: 6.2em;
    top: 90.2%;
    color: white;
    left: 35%;
    z-index: 111;
  }
  .AlbertExtrabold {
    font-family: "AlbertExtrabold";
  }
}
