.cardGroup {
  text-align: center;
}
.cardGroup .title {
  text-transform: uppercase;
  font-size: 60px;
  text-align: center;
  font-weight: 550;
  /* font-family: Dense Regular; */
  letter-spacing: 1px;
  color: #595856;

  margin-bottom: 13px;
}
.cardGroup .title img {
  width: 80%;
}
.cardGroup .time-remain {
  font-size: 35px;
  color: #595856;
  letter-spacing: 2px;
  margin-top: 7px;
  font-weight: bold;
}
audio {
  display: none !important;
}
.cardGroup .sec {
  font-size: 83px;
  font-weight: bold;
  color: #595856;
  letter-spacing: 1px;
  margin-bottom: 50px;
}
