.memory-game {
  padding: 220px 59px 50px 59px;
  font-family: Dense;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  background: #f8be35;
  height: 1650px;
  width: 962px; }
  .memory-game .hidden {
    display: none; }
