.golfPlayingBG,
.playGroundBGpic {
  height: 100%;
  background-size: cover;
  background-position: center;
  width: 100%;

  .truck,
  .truck2,
  .truck3 {
    position: absolute;
    top: 48%;
    left: 32%;
    width: 41%;
    // transform: translateX(-50%);
  }
  .truck2,
  .truck3 {
    transform: scale(0);
  }
  .leftMeasure,
  .rightMeasure {
    position: fixed;
    bottom: 0px;
    width: 35%;
    display: none;
  }
  .leftMeasure{
    left: 0px;
  }
  .rightMeasure {
    right: 0px;
  }
  .label {
    font-size: 53px;
    color: #b2adaa;
    position: absolute;
    top: 62%;
    display: none;
    transform: rotate3d(15, -5, 1, 0.1turn);
    text-align: center;
    width: 100%;
  }
  .tap {
  
        width: 20%;
    position: absolute;
    left: 50%;
    top: 26%;
    transform: translateX(-50%);
  }
  .golf-tee {
display: flex;
    flex-direction: column-reverse;
    width: 35%;
    height: initial;
    position: absolute;
    margin: auto;
    position: fixed;
    bottom: 0px;
    right: 50%;
    transform: translateX(50%);
    .golf-ball {
      width: 100%;
      margin-bottom: -6px;
    }
    .tee {
      width: 26%;
      margin: auto;
      margin-top:3px;
    }
  }
}
.mainBg {
  background: url("https://assets.cc.ninetyfivegroup.com/images/hsbc-golf/allBG.png")
    no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.shareContributor,
.snapShot {
  text-align: center;
  display: flex;
  .logo{
    width:29vw;
  }
  .goBackHome {
    font-size: 45px;
    font-family: Univers Next for HSBC;
    font-weight: 900;
    /* padding-top: 20px; */
    background: red;
    margin-top: 20px;
    border: none;
    padding: 20px;
    border-radius: 10px;
  }
  .makeCenter {
    margin: auto;
    .joinUs {
      font-size: 8vw;
      font-weight: bold;
      font-family: Univers Next for HSBC;
      line-height: 106%;
      text-transform: capitalize;
    }
    .middleGuy {
      margin-top: 60px;
      margin-bottom: 60px;
      .btnPlayGolf{
        width:44vw;
      }
    }
    .thanks {
      font-size: 13vw;
      font-family: Univers Next for HSBC;
    }
    .joinUs {
      text-transform: capitalize;
      font-family: Univers Next for HSBC;
      font-weight: bold;
    }
    .des {
      font-size: 4vw;
      font-family: Univers Next for HSBC;
    }
    .button {
      margin-top: 20px;
      img {
        width: 90%;
      }
    }
    // ch
    .drive{
      width: 82vw;
    }
  }
  .makeCircle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: auto;
    .frame {
      margin-bottom: 10px;
      width: 50vw;
      border-radius: 96px;
      height: 50vw;
      border-radius: 50%;
      object-fit: cover;
    }
    .cameraIcon {
      width: 26%;
      margin-top: 12px;
    }
    .snapShotTake {
      width: 65%;
      margin-top: 52px;
    }
  }
  .adjustBrightness {
    width: 20%;
    position: fixed;
    right: 0px;
    margin: auto 0px;
    display: flex;
    height: 100%;
    .moreLight {
      font-size: 7vw;
      font-weight: bold;
      width: 40%;
      background: red;
      border: none;
      color: white;
    }
    .leastLight {
      font-size: 7vw;
      font-weight: bold;
      width: 40%;
      background: red;
      border: none;
      color: white;
      text-align: center;
      /* height: 100px; */
      padding: 0px;
    }
    .bar {
      width: 12%;
      height: 170px;
      background: black;
      margin: 16px auto;
      position: relative;
      .choseBar {
        background-color: yellow;
        width: 100%;
        position: absolute;
        bottom: 0px;
      }
    }
    .goCenter {
      width: 100%;
      margin: auto;
    }
  }
  .finalEnd {
    width: 60%;
    .thz {
      width: 100%;
    }
    .hwwLogo {
      width: 40%;
      margin-top: 40px;
    }
  }
  .snapShotFinalShare {
    width: 58%;
    .donateLabel {
      font-size: 5vw;
      font-family: Univers Next for HSBC;
      font-weight: bold;
    }
    .snapShotBtn {
      width: 50%;
    }
    .redTxt {
      color: red;
    }
  }
}
.roadBg {
  background: url("https://assets.cc.ninetyfivegroup.com/images/hsbc-golf/RoadBG.png")
    no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: center;
  .howToPlay {
    position: absolute;
    top: 30%;
    left: 20%;
    width: 71%;
  }
  .roadRoad {
    margin: auto;
    padding-top: 20%;
    width: 40%;
    .startPlay {
      width: 74%;
    }
  }
}

#redLightCanvas {
  width: 80%;
  position: absolute;
  left: 10%;
  top: 90%;
  background: url("https://assets.cc.ninetyfivegroup.com/images/hsbc-golf/bar.png")
    no-repeat;
  background-size: contain;
}

.hide {
  display: none;
}
