@font-face {
  font-family: "ProximaNovaAlt";
  src: url("https://api.cc.quanterdynamic.com/fonts/Proxima-Nova-Alt-Reg.woff2"), url("https://api.cc.quanterdynamic.com/fonts/Proxima-Nova-Alt-Reg.woff"), url("https://api.cc.quanterdynamic.com/fonts/Proxima-Nova-Alt-Reg.otf");

  font-family: "Dense";
  src: url("https://assets.cc.quanterdynamic.com/fonts/Dense.woff2"), url("https://assets.cc.quanterdynamic.com/fonts/Dense.woff"), url("https://assets.cc.quanterdynamic.com/fonts/Dense.otf");
}

html,
body {
  margin: 0;
  padding: 0;

  // overflow: hidden;
  font-family: sans-serif;
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
.App-logo {
  height: 40px;
  border-width: 3px;
  border-color: gray;
  margin-bottom: 67px;
  padding-bottom: 50px;
  border-bottom-style: solid;
  margin-top: 143px;
}

.App-logo {
  height: 40px;
  border-width: 3px;
  border-color: gray;
  margin-bottom: 67px;
  padding-bottom: 50px;
  border-bottom-style: solid;
  margin-top: 143px;
}

#home {
  font-size: 200%;
  margin-top: 60%;
  text-align: center;
}
.full-btn {
  width: 100%;
  height: 100%;
  position: absolute;
}
