@font-face {
  font-family: 'Frutiger';
  src: url("https://assets.cc.ninetyfivegroup.com/fonts/Frutiger-Black.otf"); }

@font-face {
  font-family: 'Raleway-Black';
  src: url("https://assets.cc.ninetyfivegroup.com/fonts/Raleway-Black.ttf"); }

@font-face {
  font-family: 'Helvetica';
  src: url("https://assets.cc.ninetyfivegroup.com/fonts/Helvetica.ttf"); }

.WallySally {
  /* spinner style */
  /* spinner-1 styles */
  margin: 0;
  height: 100%; }
  .WallySally .wally-vdo {
    width: 100%;
    height: 100%;
    margin: 0px;
    object-fit: fill; }
  .WallySally .preTake,
  .WallySally .preTakeTerm {
    text-align: center;
    display: flex;
    flex-direction: column; }
  .WallySally .spinners,
  .WallySally .spinners2 {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1111;
    transform: translate(-50%, -50%); }
    .WallySally .spinners .spinner-block,
    .WallySally .spinners2 .spinner-block {
      text-align: center; }
      .WallySally .spinners .spinner-block:nth-child(5n),
      .WallySally .spinners2 .spinner-block:nth-child(5n) {
        margin-right: 0px; }
  .WallySally .imgAttGp {
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%; }
  .WallySally .spinner {
    width: 45vw;
    height: 45vw; }
    .WallySally .spinner:before, .WallySally .spinner:after {
      content: '';
      display: block;
      position: absolute;
      border-width: 9px;
      border-style: solid;
      border-radius: 50%; }

@keyframes rotate-animation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes anti-rotate-animation {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }
  .WallySally .spinner.spinner-1:before {
    width: 40vw;
    height: 40vw;
    border-bottom-color: white;
    border-right-color: white;
    border-top-color: rgba(255, 255, 255, 0);
    border-left-color: rgba(255, 255, 255, 0);
    top: 0px;
    left: 0px;
    animation: rotate-animation 1s linear 0s infinite; }
  .WallySally .spinner.spinner-1:after {
    width: 30vw;
    height: 30vw;
    border-bottom-color: white;
    border-right-color: white;
    border-top-color: rgba(255, 255, 255, 0);
    border-left-color: rgba(255, 255, 255, 0);
    top: 5vw;
    left: 5vw;
    animation: anti-rotate-animation 0.85s linear 0s infinite; }

@keyframes rotate-animation-2 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes anti-rotate-animation-2 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }
  .WallySally .spinner.spinner-1-2:before {
    width: 92px;
    height: 92px;
    border-bottom-color: white;
    border-right-color: white;
    border-top-color: rgba(255, 255, 255, 0);
    border-left-color: rgba(255, 255, 255, 0);
    top: 0px;
    left: 0px;
    animation: rotate-animation-2 1s linear 0s infinite; }
  .WallySally .spinner.spinner-1-2:after {
    width: 64.4px;
    height: 64.4px;
    border-bottom-color: white;
    border-right-color: white;
    border-top-color: rgba(255, 255, 255, 0);
    border-left-color: rgba(255, 255, 255, 0);
    top: 13.8px;
    left: 13.8px;
    animation: anti-rotate-animation-2 0.85s linear 0s infinite; }
  .WallySally .preTake,
  .WallySally .preTakeTerm,
  .WallySally .preAgree,
  .WallySally .taking,
  .WallySally .preview,
  .WallySally .pages {
    margin: 0;
    height: 100%; }
  .WallySally .hidden {
    display: none; }
  .WallySally #HE {
    height: 200px;
    width: 200px; }
  .WallySally .flash {
    position: absolute;
    width: 1080px;
    height: 1920px;
    top: 0px;
    left: 0px;
    z-index: 1111111;
    text-align: center;
    text-transform: uppercase;
    font-family: Frutiger;
    font-size: 50px;
    background-color: white; }
    .WallySally .flash span {
      margin: auto;
      transform: skewX(-7deg); }
  .WallySally .pages {
    display: none;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    flex-direction: column; }
  .WallySally .wt-filter {
    position: absolute;
    left: -9vw;
    width: 100%;
    height: 97%; }
  .WallySally .countDown {
    top: 48%;
    left: 50%;
    font-size: 7.5em;
    color: white;
    font-family: Raleway-Black;
    opacity: 0.7;
    transform: translate(-50%, -50%);
    position: absolute; }
  .WallySally .filterTaking {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.4; }
  .WallySally .twinCartoon {
    position: absolute;
    top: 38.1%;
    left: 0px;
    width: 100%; }
  .WallySally #oImg {
    transform: scaleX(-1); }
  .WallySally #camera {
    object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scaleX(-1);
    width: 100%;
    left: 0px;
    margin: 0px; }
  .WallySally #canvas-1 {
    width: 100%; }
  .WallySally #camera,
  .WallySally #camera2,
  .WallySally .previewMerge {
    height: auto; }
  .WallySally #secFotune {
    width: 100%;
    top: 38.9%; }
  .WallySally .previewFull {
    position: absolute;
    box-shadow: 6px 8px 8px 1px black;
    width: 100%;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    height: auto; }
  .WallySally .previewMerge {
    position: absolute;
    box-shadow: 6px 8px 8px 1px black;
    width: 82%;
    top: 50%;
    left: 9%;
    transform: translateY(-50%); }
  .WallySally #canvas {
    height: 1061px;
    width: 100%; }
  .WallySally .start-btn-txt {
    position: absolute;
    z-index: 1;
    top: 55%;
    text-transform: uppercase;
    font-family: 'Frutiger';
    color: white;
    left: 52%;
    transform: skewX(-5deg);
    font-size: 3vw;
    transform: translate(-50%, 0); }
  .WallySally .f-txt {
    position: absolute;
    top: 70vw;
    left: 1%;
    font-size: 3vw;
    text-transform: uppercase;
    color: #4d7487;
    transform: skewX(-7deg);
    font-family: Frutiger;
    width: 96%; }
  .WallySally .s-txt {
    width: 100%;
    left: 0%;
    top: 755px; }
  .WallySally .agree-btn {
    position: absolute;
    top: 3%;
    left: 0%;
    opacity: 0;
    width: 27vw;
    height: 24vw;
    top: 59%;
    left: 50%;
    transform: translateX(-50%); }
  .WallySally .start-btn {
    margin: auto;
    position: absolute;
    top: 60%;
    left: 36%; }
  .WallySally .start-btn img {
    width: 26vw; }
  .WallySally .middlePreTot {
    position: absolute;
    width: 100%;
    display: flex;
    top: 17%;
    flex-direction: column; }
    .WallySally .middlePreTot .canvasPreviewTot {
      display: block;
      box-shadow: 1.5px 2px 4px 1px black;
      margin: auto; }
    .WallySally .middlePreTot .email-btn {
      margin: auto;
      width: 23vw;
      margin-top: 6vw; }
  .WallySally .backStart {
    z-index: 2;
    position: absolute;
    top: 64%;
    left: 50%;
    width: 37vw;
    transform: translateX(-50%); }
  .WallySally .thanks-txt {
    font-size: 9vw;
    top: 28%;
    left: 23%;
    position: absolute; }
  .WallySally .finalTxt {
    font-family: Frutiger;
    text-transform: uppercase;
    transform: skew(-11deg);
    z-index: 1;
    color: white;
    margin: auto; }
  .WallySally .willPromise {
    top: 40%;
    position: absolute;
    font-size: 4.2vw;
    left: 50%;
    display: flex;
    flex-direction: column;
    transform: translateX(-50%);
    width: 100%; }
  .WallySally .tagUs {
    top: 47.5%;
    position: absolute;
    font-size: 4.2vw;
    left: 50%;
    display: flex;
    flex-direction: column;
    transform: translateX(-50%);
    width: 82%;
    text-align: center; }
  .WallySally .lastLine {
    margin-left: -10px; }
  .WallySally .padRight {
    padding-right: 9px; }
  .WallySally .okRetakeGp {
    z-index: 2;
    position: absolute;
    top: 76%;
    left: 50%;
    flex-direction: row;
    width: 54%;
    justify-content: space-between;
    align-items: center;
    transform: translateX(-50%); }
  .WallySally .hell-retake {
    float: right !important; }
  .WallySally .retakeBtn {
    display: inline-block;
    width: 24vw; }
  .WallySally .attLeft {
    font-size: 0.9em;
    text-align: center;
    color: white;
    z-index: 1;
    font-family: Frutiger;
    position: absolute;
    top: 71%;
    width: 100%; }
  .WallySally .firstMerge {
    left: -915px; }
  .WallySally .nextCheck {
    width: 7vw;
    position: relative;
    z-index: 1;
    left: 94.5%;
    animation: bounce 1s ease-out infinite alternate;
    top: 50%; }

@keyframes bounce {
  0% {
    transform: scale(0.9); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(0.9); } }
  .WallySally .preview-check {
    top: 10% !important; }
  .WallySally .prevCheck {
    left: 2%; }
  .WallySally .pub,
  .WallySally .waterLogo,
  .WallySally .checkImgTxt {
    z-index: 1; }
  .WallySally .okBtn {
    float: left;
    width: 24vw; }
  .WallySally .pub {
    width: 40vw;
    margin: 0px;
    position: absolute;
    left: -7px; }
  .WallySally .waterLogo {
    width: 25vw;
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translateX(-50%); }
  .WallySally .checkImgTxt {
    color: white;
    font-family: Raleway-Black;
    font-size: 1.8em;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 15.5%;
    transform: skewX(-7deg); }
  .WallySally #keyboard {
    position: absolute;
    top: 42%;
    font-size: 28px;
    z-index: 1;
    width: 80%;
    margin-left: 10%;
    font-family: Helvetica;
    display: block; }
    @media only screen and (max-width: 760px) {
      .WallySally #keyboard {
        display: none; } }
  .WallySally #eachKey {
    width: 65px;
    height: 65px;
    font-size: 28px;
    border-radius: 2px;
    box-shadow: 1px 2px 3px;
    font-family: Helvetica; }
  .WallySally #Delete-Icon-Width {
    width: 57px; }
  .WallySally #Delete-Icon-Key-Width {
    width: 97px; }
  .WallySally .krows {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px; }
  .WallySally .krows span {
    width: 65px;
    background: white;
    height: 65px;
    /* display: flex; */
    /* margin: auto; */
    text-align: center;
    line-height: 65px;
    border-radius: 2px;
    box-shadow: 1px 2px 3px; }
  .WallySally #backSpace {
    width: 97px;
    display: flex;
    justify-content: center; }
  .WallySally #delete {
    width: 54px; }
  .WallySally #return {
    width: 128px; }
  .WallySally #row5 .atMail {
    width: 253px; }
  .WallySally .previewMail {
    position: absolute;
    z-index: 2;
    width: 77%;
    padding: 10px;
    left: 50%;
    top: 37%;
    box-shadow: 2px 1px 3px;
    font-size: 26px;
    padding-right: 21px;
    border-radius: 7px;
    transform: translateX(-50%); }
  .WallySally .notAuth {
    box-shadow: 2px 3px 7px red;
    border: 1px solid red; }
  .WallySally .sendBackGp {
    top: 65%;
    display: flex;
    width: 100%;
    justify-content: center; }
    .WallySally .sendBackGp img {
      width: 28vw; }
